.search-area {
    display: flex;
    justify-content: center;
    margin: 30px 0 40px 0;
}

.search-area input {
    font-size: 18px;
    min-width: 300px;
    width: 40%;
    height: 36px;
    border-radius: 3px;
    border: 0;
    padding: 0 0 0 5px;
}

.search-area input:focus {
    outline: 0;
}
