.icon {
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon:hover {
    color: #fff;
}

.contact-edit {
    margin-left: -25px;
}
